<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shell}">
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
        <div class="display-4">Signup to RMS</div>
    </li>
</ol>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <form enctype="multipart/form-data" th:object="${user}" th:action='@{|/account/signup|}' method="post" autocomplete="off">
                <div class="form-group">
                    <label>Name</label>
                    <input th:field="*{name}" type="text" class="form-control" />
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input th:field="*{username}" type="text" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input th:field="*{email}" type="email" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input th:field="*{address}" type="text" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input th:field="*{password}" type="password" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <div class="form-group">
                    <label>Picture</label>
                    <div th:if="${connection!=null}">
                        <img th:src="${connection.getImageUrl()}" class="card-img" style="max-width: 300px"/>
                        <input type="hidden" name="picture" th:value="${connection.getImageUrl()}"/>
                    </div>
                    <input name="image" type="file" class="form-control"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"></div>
                </div>
                <div class="form-group" th:if="${connection !=null}">
                    <label>[[${provider_name}]] ID</label>
                    <input th:name="${connection.getKey().getProviderId()}" th:value="${connection.getKey().getProviderUserId()}" type="text" class="form-control" readonly="readonly"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="${connection.getKey().getProviderId()}"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-success"
                            th:text="${user}==null?'Create User':'Save Changes'"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            /*[# th:if="${successMessage!=null}"]*/
                alert(/*[[${successMessage}]]*/);
            /*[/]*/

            /*[# th:if="${user}!=null"]*/
            $('input[name="name"]').val(/*[[${user.name}]]*/)
            $('input[name="email"]').val(/*[[${user.email}]]*/)
            $('input[name="username"]').val(/*[[${user.username}]]*/)
            $('input[name="address"]').val(/*[[${user.address}]]*/)
            /*[/]*/
        })
    </script>
</div>
